<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to fast reliable News Board </title>
        {% endif %}
    </head>
    <body>
        <!-- Popular article section  -->
        <h3> Buisness Articles </h3>
         <ul>
            {% for buisness_article in buisness %}
                <li>{{ buisness_article.title}}</li>
            {% endfor %}
        </ul>

    </body>
</html>