{% macro displaySourcesList(sources) %}
        {% for source in sources %}
          
          <div class="card text-center">
            <h3 class="card-header">{{ source.name}}</h3>
            <div class="card-body">
              <h5 class="card-title style="color: black;">{{source.category.upper()}}</h5>
              <p class="card-text">{{ source.description|truncate(150) }}</p>
              <a href='/articles/{{source.id}}' class="btn btn-primary">{{ source.url }}</a>
            </div>
            <hr>
          </div>

        {% endfor %}
{% endmacro %}

<!-- Display articles -->
{% macro displayArticleList(article_list) %}
    {% for article in article_list %}
    <!--display source -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
      <div class="card">
        <img src="{{article.url}}" class="card-img-top" alt="">
        <div class="card-body">
          <h3 class="card-title" style="color: black;">{{article.title}}</h3>
          <p class="card-text">{{article.description|truncate(70)}}</p>
          <p class="card-text">Date: {{article.publishedAt[:10]}}</p>
        </div>
        <div class="card-body">
          <a href="{{ article.urlToImage}}" class="card-link">{{ article.urlToImage }}</a>
        </div>
        <hr>
      </div>
      </div>
      </div>



    {% endfor %}

{% endmacro %}